<%- include("../partials/header") %>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	  <style>
		  .container{
			  padding: 70px;
		  }
	  </style>
    <title>Договорные отношения</title>
  </head>
  <body>
	  
    <div class="container">
            <div class="jumbotron">
                    <h1 class="display-4">Услуги</h1>
				<p class="lead text-justify">Организация предлагает ремонтные работы:<br></p>
						<ul>
							<li>Малярные и штукатурные работы</li>
							<li>Наклейка обоев, декоративные работы</li>
							<li>Возведение  перегородок из кирпича, сибита</li>
							<li>Гипсокартонные работы</li>
							<li>Шумоизоляция перегородок и стен</li>
							<li>Стяжки ,наливные полы, сухие полы</li>
							<li>Устройство ламината, линолеума, пвх, плитки, плинтус</li>
							<li>Укладка кафеля, керамогранита</li>
							<li>Установка дверей</li>
							<li>Сотрудничаем с организациями по производству и установке пластиковых окон и дверей</li>
							<li>Сотрудничаем с организациями по установки натяжных потолков</li>
							<li>Выполняем санитарно-технические работы</li>
							<li>Выполняем электро-технические работы</li>
							<li>Выполняем устройство теплых полов</li>
							<li>Предлагаем расчет сметы и материалов</li>
							<li>Предлагаем Дизайн проектирование. Сотрудничаем с дизайнерами</li>
							<li>Предлагаем скидки по договоренности с дизайнерами, поставщиками</li>
						</ul>
					<p class="lead text-justify">Договорные отношения: Предоставляем договор, смету, акты. Дополнительные соглашения к договору. <br> <br> Работаем с заказчиками, если они не могут присутствовать на обьекте по средствами мобильной связи, а также через электронную почту, WHATSAPP, СМС-сообщения .</p>
            </div>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>